<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <!-- <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div> -->
  
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" or node.layout == "mine" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}


    
    <a class="sidebar-nav-item" href="https://brontosaurusrex.github.io/home/boothome.htm">start page</a>
    
    <a class="sidebar-nav-item" href="{{ site.url }}/blogmap">blogmap</a>

    <a class="sidebar-nav-item" href="https://github.com/brontosaurusrex/brontosaurusrex.github.io/issues/new">comment</a>

    <a class="sidebar-nav-item" href="{{ site.url }}/search">search 🔎︎</a>



  </nav>

    <!-- ddg search https://www.plainlight.com/duckduckgo-search.html#custom-search
    <div class="sidebar-item">

            <form onsubmit="this.elements[0].click();return false;"><div style="float:right;position:absolute;top:0;right:-2px;z-index:3; visibility: hidden;"><button type="button" onclick="var v=this.parentElement.parentElement.elements[1].value;location.href='https://duckduckgo.com?q='+encodeURIComponent(v)+'+site%3Abrontosaurusrex.github.io';"></button></div><input type="text" name="que" placeholder="search site with a duck" /></form>
      
    </div>
    end ddg search -->


    
</div>
